body {
    font-family: Arial, sans-serif;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0;
    background-image: url('./images/logo.jpg');
    background-size: 100%;
    overflow-x: hidden;
    margin-bottom: 2%;
    /* height: 500vh; */
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

header {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #333;
    z-index: 1000;
    box-shadow: rgba(245, 238, 238, 0.35) 0px -50px 36px -28px inset;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 1000; */
    box-shadow: rgba(223, 213, 213, 0.35) 0px -50px 36px -28px inset;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: none;
}

.modal-title {
    text-align: center;
    width: 100%;
    margin-top: -40px;
    font-size: 22px;
}

.modal-content {
    display: flex;
    background-color: #fefefe;
    margin: 3% auto;
    padding: 15px;
    border: 1px solid #888;
    max-width: 300px;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-radius: 5%;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -100%); */
}

/* .modal-show {
    display: flex;
} */

.modal-anim {
    animation: modal-show 0.3s linear forwards;

}

@keyframes modal-show {
    0% {
        transform: translate(-150%, -150%);
        rotate: 0turn;
    }

    50% {
        transform: translate(-100%, -125%);
        rotate: 0.5turn;
    }

    100% {
        transform: translate(-50%, -100%);
        rotate: 1turn;
    }

}


.close {
    color: #a52222;
    align-self: flex-end;
    font-size: 40px;
    font-weight: 900;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.form label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;

}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #111;
}

.form button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
    background-color: #01fc6a
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    transition: 0.7s;
    transform: translateX(-100%);
    z-index: 1001;
    box-shadow: rgba(211, 202, 202, 0.45) 1px 1px 40px 0px inset;
}


.menu-btn {
    width: 100px;
    height: 0px;
    color: white;
    position: absolute;
    text-align: right;
    right: -80px;
    top: 14px;
    font-size: 20px;
    text-decoration: none;
    margin-right: -10px;
    z-index: 1002;
    opacity: 1;
    /* background: transparent; */
}

.menu-btn:hover {
    color: red;
}


.menu-active {
    transform: translateX(0%);
}

.btn-active {
    transform: translateX(0%);
}

#menu-id {
    text-align: center;
    align-items: center;
}

#menu-avatar {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 25vw;
    border-radius: 100%;
    height: auto;
    margin-bottom: 2%;

}

.menu-list {
    /* display: flex; */
    margin-top: 100%;
    align-items: left;
    justify-content: left;
    /* flex-direction: column; */
}

.menuProfileList li button {
    display: inline-flex;
    justify-content: center;
    background-color: black;
    color: white;
    position: relative;
    border: none !important;
    background: transparent;
    font-size: 1.5vw;
    align-items: left;
    align-content: left;
    right: 15%;
    margin-top: 10%;
    transform: translateX(-150% -50%);
}

.js-menu-items {
    text-decoration: none;
}

@media screen and (max-width: 1080px) {
    .menu {
        width: 40%;
    }

    #menu-avatar {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    #menu-avatar {
        max-width: 30vw;
    }
}

@media screen and (max-width: 1440px) {
    #menu-avatar {
        max-width: 10vw;
    }
}

@media screen and (max-width: 1920px) {
    #menu-avatar {
        max-width: 13vw;
    }
}

@media screen and (max-width: 1366px) {
    #menu-avatar {
        max-width: 13vw;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #menu-avatar {
        min-width: 30vw;
    }
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
    #menu-avatar {
        min-width: 23vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #menu-avatar {
        min-width: 20vw;
    }
}

.js-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    /* left: 0%; */
    width: 100%;
    transition: transform 0.5s;
    box-shadow: rgba(245, 238, 238, 0.35) 0px -50px 36px -28px inset;
}

.js-list ul li {
    float: left;
}

.js-list ul li a,
.js-list ul li button {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5ch;
}

.js-list ul li a:hover,
.js-list ul li button:hover {
    box-shadow: rgba(22, 21, 21, 0.45) 1px 1px 40px 0px inset;
}

#form-search-input {
    display: flex;
    width: 110px;
    margin-top: 5px;
    padding: 8;
    float: left;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    outline: none;
}

#form-search-select {
    display: flex;
    margin-top: 5px;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: 25px;
    height: 39px;
    float: left;
    border-radius: 5px;
    margin-left: -20px;
    color: white;
    background-color: #111;
    outline: none;
    box-shadow: rgba(245, 238, 238, 0.35) 0px -50px 36px -28px inset;
}

select {
    align-items: left;
    text-align: left;
}

.js-button-search {
    margin-top: 0px;
    padding: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: #111;
    float: right;
    font-size: 2ch;
    /* box-shadow: rgba(105, 95, 95, 0.35) 0px -50px 36px -28px inset; */
}

.js-button-search:hover {
    color: red;
}

#aLog,
#aReg,
#aChat,
#aBox {
    padding: 0%;
    margin: 0%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.checkbox-container label {
    flex: 1;
    text-align: left;
    margin-bottom: 0;
}

.checkbox-container input {
    margin-left: auto;
    width: auto;
    height: auto;
}


.login-form {
    width: 80%;
    color: white;
    background-color: #111;
    box-shadow: rgba(211, 202, 202, 0.45) 1px 1px 40px 0px inset;
    position: fixed;
    margin-top: 120px;
}

#loginPassword {
    margin-bottom: 30px;
}

.reg-form {
    width: 80%;
    font-size: 13px;
    color: white;
    background-color: #111;
    box-shadow: rgba(211, 202, 202, 0.45) 1px 1px 40px 0px inset;
    position: fixed;
    margin-top: 200px;
}

#inputImg {
    font-size: 13px;
    height: 25px;
}

#registerName,
#registerEmail,
#registerPassword,
#confirmPassword {
    height: 10px;
}


.reg-btn {
    margin-top: 3px;
    height: 35px;
}

.eventModal {
    display: none;
    position: fixed;
    margin-top: 0px;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.eTitle {
    text-align: center;
    width: 100%;
    font-size: 22px;
    color: none;
}

.eSubModal {
    padding: 15px;
    border: 1px solid #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
    margin: auto;
    width: 250px;
    color: white;
    background-color: #111;
    box-shadow: rgba(211, 202, 202, 0.45) 1px 1px 40px 0px inset;
    position: fixed;
}

.eText {
    color: none;
    text-align: center;
}

.eBtn {
    width: 31%;
    padding: 10px 20px;
    border: none;
    margin-left: 5px;
    background-color: #111;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(130, 119, 119, 0.45) 1px 1px 40px 0px inset;
}

.eBtn:hover {
    color: red;
}


.contacts {
    display: grid;
    box-sizing: border-box;
    width: 98%;
    margin-top: 60px;
    margin-left: 5%;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 2048px;
    align-items: start;
}


@media (max-width: 768px) {
    .contacts {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 480px) {
    .contacts {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}


.listContacts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0;
    width: 85%;
    gap: 20px;
    justify-content: space-around;
    position: relative;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.cardContact {
    background-color: rgb(237, 236, 236);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 20px;
    box-shadow: rgba(14, 13, 13, 0.981) 1px 1px 40px 0px inset;
}

@media screen and (max-width: 1366px) {
    .cardContact {
        max-width: 25vw;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .cardContact {
        min-width: 65vw;
    }
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
    .cardContact {
        min-width: 40vw;
    }
}

.imgContacts {
    max-width: 50%;
    display: inline-block;
    position: sticky;
    align-content: center;
    align-items: center;
    margin-left: 25%;
    object-fit: cover;
    border-radius: 50%;
}

.cardTitle {
    font-size: 1.3vmax;
    align-items: center;
    justify-content: space-around;
}

.cardInfo {
    text-align: center;
    font-size: 1.2vmax;
}


.cardProfile {
    display: none;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    justify-content: center;
    position: fixed;
    text-align: center;
    z-index: 1001;
}

/* 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; */

/* .cardShow {
    display: flex;
} */

.profileContact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(237, 236, 236);
    padding: 30px;
    box-shadow: rgba(14, 13, 13, 0.981) 1px 1px 40px 0px inset;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 80vw;
    height: 50%;
    max-height: 80vw;
    border-radius: 1em;
}

.imgProfile {
    width: 50%;
    flex-shrink: 0;
    max-width: 200px;
    margin-left: 2%;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;
}

.imgProfile img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 600px) {
    .profileTitle {
        text-align: center;
    }

    .profileBtns {
        flex-direction: column;
        max-width: 47vw;
        width: 65%;
    }
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .profileContact {
        max-width: 70vw;
        max-height: 45vw
    }

    .imgProfile {
        max-width: 25%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
    .profileContact {
        min-width: 23vw;
        max-height: 65vw
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .profileContact {
        max-width: 70vw;
        max-height: 30vw;
    }
}

@media only screen and (min-width: 1050px) and (max-width: 1080px) {
    .profileContact {
        max-width: 70vw;
        max-height: 35vw;
    }
}

@media only screen and (min-width: 1080px) and (max-width: 1200px) {
    .profileContact {
        max-width: 70vw;
        max-height: 35vw;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
    .profileContact {
        max-width: 50vw;
        max-height: 25vw;
    }
}

.profileDetails {
    flex-grow: 1;
    text-align: left;
    align-items: left;
    font-size: 1.3vmax;
    margin-left: 1%;
}

.profileBtns {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 2%;
    position: fixed;
    margin-top: 2%;
    flex-grow: 1;
    font-size: 1.8vmax;
    width: 50%;
    max-width: 80vw;
}

.profileTitle {
    font-size: 1.8vmax;
    text-align: center;
    margin: 0;
}

.profileInfo {
    font-size: 1.3vmax;
    margin: 0;
}

.cancelButton {
    background: transparent;
    position: fixed;
    width: 35px;
    height: 35px;
    display: inline;
    float: right;
    top: 15;
    right: 15;
    object-fit: cover;
    border: none !important;
    background: transparent;
}

.cancelIcon {
    border-radius: 5em;
    float: right
}

.cancelIcon:hover {
    background-color: red;
}

.profileList {
    list-style-type: none;

}

.labelProfile {
    font-weight: bold;
}

.update-profile {
    display: none;
    position: fixed;
    z-index: 1003;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.profile-title {
    text-align: center;
    width: 100%;
    margin-top: -40px;
    font-size: 18px;
}

.profile-content {
    display: flex;
    background-color: #fefefe;
    margin: 0% auto;
    padding: 15px;
    border: 1px solid #888;
    max-width: 300px;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #111;
    box-shadow: rgba(211, 202, 202, 0.45) 1px 1px 40px 0px inset;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.contact-form label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.contact-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black
}

.contact-form button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #111;
}

.upd-btn {
    margin-top: 3px;
    height: 35px;
}

.modal-show {
    display: flex;
}


.loadPage {
    display: none;
    position: fixed;
    z-index: 1003;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.95);
}

.loadText {
    position: fixed;
    color: white;
    font-size: 1.5vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
}

.loader {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: fixed;
    border-top: 0.3vw solid #FFF;
    border-right: 0.3vw solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal-show {
    display: flex;
}

.jsListItems {
    opacity: 0;
}