body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./images/logo.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 30px; */
    position: relative;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    z-index: 1000;
    box-shadow: rgba(245, 238, 238, 0.35) 0px -50px 36px -28px inset;
}

main {
    margin-top: 60px;
    padding: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 1px;
}

.modal-title {
    text-align: center;
    width: 100%;
    margin-top: -40px;
    font-size: 22px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 15px;
    border: 1px solid #888;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-radius: 5%;
}

.close {
    color: #a52222;
    align-self: flex-end;
    font-size: 40px;
    font-weight: 900;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.form label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;

}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #111;
}

.form button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
    background-color: #01fc6a
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(223, 213, 213, 0.35) 0px -50px 36px -28px inset;
}

.menu {
    /* display: none; */
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    transition: 0.5s;
    transform: translateX(-100%);
    z-index: 1001;
    box-shadow: rgba(211, 202, 202, 0.45) 1px 1px 40px 0px inset;
}



.menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    flex-direction: column;
    color: white;
    font-size: large;
    text-decoration: none;
}

.menu-btn {
    width: 50px;
    height: 0px;
    background-color: rgb(41, 38, 38);
    color: white;
    position: absolute;
    right: -80px;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
    margin-right: -10px;
    z-index: 1002;
    box-shadow: rgba(245, 238, 238, 0.35) 0px -50px 36px -28px inset;
}

.menu-btn:hover {
    color: red;
}

/* .form-menu {
    width: 150px;
    
}

.menu-search-button {
    width: 150px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
} */


.menu-active {
    transform: translateX(0%);
}

.js-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: right;
    align-items: center;
    transition: transform 0.5s;
    box-shadow: rgba(245, 238, 238, 0.35) 0px -50px 36px -28px inset;
}

.js-list ul li {
    float: left;
}

.js-list ul li a,
.js-list ul li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.js-list ul li a:hover,
.js-list ul li button:hover {
    box-shadow: rgba(22, 21, 21, 0.45) 1px 1px 40px 0px inset;
}

/* .js-list-move {
    transform: translateX(30%);
} */

.checkbox-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.checkbox-container label {
    flex: 1;
    text-align: left;
    margin-bottom: 0;
}

.checkbox-container input {
    margin-left: auto;
    width: auto;
    height: auto;
}


.login-form {
    /* margin: auto; */
    margin-top: 8%;
    width: 80%;
    max-width: 500px;
    color: white;
    background-color: #111;
    box-shadow: rgba(211, 202, 202, 0.45) 1px 1px 40px 0px inset;
}

#loginPassword {
    margin-bottom: 30px;
}

.reg-form {
    width: 25%;
    font-size: 13px;
    color: white;
    background-color: #111;
    box-shadow: rgba(211, 202, 202, 0.45) 1px 1px 40px 0px inset;
}

#inputImg {
    font-size: 13px;
    height: 45px;
}

#registerEmail, #registerPassword, #confirmPassword {
    height: 35px;
}


.reg-btn {
    margin-top: 3px;
    height: 35px;
}

@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        /* Увеличиваем ширину меню до 100% */
    }
}

#form-search-input {
    width: 62%;
    /* Уменьшаем ширину поля ввода */
    display: inline-block;
    margin-left: 20px;
    /* Делаем его строчно-блочным элементом */
    border-radius: 50px;
    height: 50px;
    text-align: center;
}

.js-button-search {
    display: inline-block;
    /* Делаем кнопку поиска строчно-блочным элементом */
    height: 55px;
    width: 55px;
    padding: 0px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: black;
    color: white;
    box-shadow: rgba(105, 95, 95, 0.35) 0px -50px 36px -28px inset;
}

.js-button-search:hover {
    color: red;
}

.js-menu-items {
    text-decoration: none;
    color: white;
}