body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./images/logo.jpg');
    background-size: 100%;
    height: 500vh;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

header {
    width: 100%;
    top: 0;
    background-color: #333;
    z-index: 1000;
    box-shadow: rgba(245, 238, 238, 0.35) 0px -50px 36px -28px inset;
}

main {
    margin-top: 60px;
    padding: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-title {
    text-align: center;
    width: 100%;
    margin-top: -40px;
    font-size: 22px;
}

.modal-content {
    display: flex;
    background-color: #fefefe;
    margin: 3% auto;
    padding: 15px;
    border: 1px solid #888;
    max-width: 300px;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-radius: 5%;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -100%); */
}

.modal-show {
    display: flex;
}

.modal-anim {
    animation: modal-show 0.3s linear forwards;
    
}


@keyframes modal-show {
    0% {
        transform: translate(-150%, -150%);
        rotate: 0turn;
    }

    50% {
        transform: translate(-100%, -125%);
        rotate: 0.5turn;
    }

    100% {
        transform: translate(-50%, -100%);
        rotate: 1turn;
    }

}


.close {
    color: #a52222;
    align-self: flex-end;
    font-size: 40px;
    font-weight: 900;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.form label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;

}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #111;
}

.form button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
    background-color: #01fc6a
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(223, 213, 213, 0.35) 0px -50px 36px -28px inset;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    transition: 0.7s;
    transform: translateX(-100%);
    z-index: 1001;
    box-shadow: rgba(211, 202, 202, 0.45) 1px 1px 40px 0px inset;
}



.menu-list {
    display: flex;
    justify-content: center;
    align-items: left;
    height: 30%;
    /* margin-left: 20%; */
    left: 100;
    flex-direction: column;
    color: white;
    text-decoration: none;
}

.menu-btn {
    width: 100px;
    height: 0px;
    color: white;
    position: absolute;
    text-align: right;
    right: -80px;
    top: 14px;
    font-size: 20px;
    text-decoration: none;
    margin-right: -10px;
    z-index: 1002;
    opacity: 1;
}

.menu-btn:hover {
    color: red;
}


.menu-active {
    transform: translateX(0%);
}

.btn-active {
    transform: translateX(0%);
}

.js-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    /* left: 0%; */
    width: 100%;
    transition: transform 0.5s;
    box-shadow: rgba(245, 238, 238, 0.35) 0px -50px 36px -28px inset;
}

.js-list ul li {
    float: left;
}

.js-list ul li a,
.js-list ul li button {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5ch;
}

.js-list ul li a:hover,
.js-list ul li button:hover {
    box-shadow: rgba(22, 21, 21, 0.45) 1px 1px 40px 0px inset;
}

.checkbox-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.checkbox-container label {
    flex: 1;
    text-align: left;
    margin-bottom: 0;
}

.checkbox-container input {
    margin-left: auto;
    width: auto;
    height: auto;
}


.login-form {
    width: 80%;
    color: white;
    background-color: #111;
    box-shadow: rgba(211, 202, 202, 0.45) 1px 1px 40px 0px inset;
    position: fixed;
    margin-top: 120px;
}

#loginPassword {
    margin-bottom: 30px;
}

.reg-form {
    width: 80%;
    font-size: 13px;
    color: white;
    background-color: #111;
    box-shadow: rgba(211, 202, 202, 0.45) 1px 1px 40px 0px inset;
    position: fixed;
    margin-top: 200px;
}

#inputImg {
    font-size: 13px;
    height: 25px;
}

#registerName,
#registerEmail,
#registerPassword,
#confirmPassword {
    height: 10px;
}


.reg-btn {
    margin-top: 3px;
    height: 35px;
}

#menu-id {
    text-align: center;
    align-items: center;
}

#menu-avatar {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    border-radius: 100%;
    /* Задайте начальный размер */
    height: auto;
    /* Автоматическое масштабирование по высоте */
    margin-bottom: 2%;

}

@media screen and (max-width: 1080px) {
    .menu {
        width: 40%;
    }

    #menu-avatar {
        width: 70%;
        /* Пример уменьшения размера для меньших экранов */
    }
}

@media screen and (max-width: 600px) {
    #menu-avatar {
        width: 170px;
        /* Пример еще большего уменьшения размера */
    }
}

#form-search-input {
    width: 70%;
    /* display: flex; */
    top: 0;
    border-radius: 50px;
    height: 2.5em;
    left: 0%;
    text-align: center;
    align-items: center;
    position: relative;
    margin-top: 80%;
    margin-bottom: 10px;
    font-size: 2ch;
}

.js-button-search {
    /* display: block; */
    width: 70%;
    height: 40px;
    top: 0;
    border-radius: 15px;
    background-color: black;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2ch;
    box-shadow: rgba(105, 95, 95, 0.35) 0px -50px 36px -28px inset;
}

.js-button-search:hover {
    color: red;
}

.js-menu-items {
    text-decoration: none;
    color: white;
    font-size: 1.5vmax;
    margin-top: 10%;
    padding-bottom: 5%;
    margin-left: 20%;
}


.eventModal {
    display: none;
    position: fixed;
    margin-top: 0px;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.eTitle {
    text-align: center;
    width: 100%;
    font-size: 22px;
    color: none;
}

.eSubModal {
    padding: 15px;
    border: 1px solid #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
    margin: auto;
    width: 250px;
    color: white;
    background-color: #111;
    box-shadow: rgba(211, 202, 202, 0.45) 1px 1px 40px 0px inset;
    position: fixed;
}

.eText {
    color: none;
    text-align: center;
}

.eBtn {
    width: 31%;
    padding: 10px 20px;
    border: none;
    margin-left: 5px;
    background-color: #111;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(130, 119, 119, 0.45) 1px 1px 40px 0px inset;
}

.eBtn:hover {
    color: red;
}